@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* ----------------------------------- Footer ---------------------------------  */

footer {
	width: 100%;
	height: 65px;
	position: fixed;
	bottom: 1px;
}

.copyright {
	text-align: right;
	padding-top: 30px;
}

.contact {
	padding-top: 5px;
}

.contact i {
	color: #efefef;
	font-size: 18px;
}

.contact i:hover {
	color: #0056b3;
}


/* ------------------------------ Navigation Bar ----------------------------  */

.navbar-brand {
	color: #efefef;
	font-family: "Anton", sans-serif;
	font-size: 24px;
	text-decoration: none;
}

.nav-link {
	color: #efefef;
	font-family: "Anton", sans-serif;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 2px;
}


/* ---------------------------------- Home ----------------------------------  */


.home-text {
	color: #efefef;
	letter-spacing: 2px;
	font-size: 24px;
}

.flag {
	height: 4em;
	width: 6em;
	margin-bottom: 15px;
}


/* -------------------------------- Progress --------------------------------  */


.progress {
	height: 36px;
	margin-bottom: 1em;
	background-color: transparent;
}

.progress-bar {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
}

.progress-bar span {
	position: absolute;
}

.progress-text {
	padding: 75px 0px 0px 0px;
	letter-spacing: 2px;
	font-size: 24px;
}


/* -------------------------------- Projects --------------------------------  */

.my-card {
	color: #efefef;
	letter-spacing: 2px;
	display: flex;
}

.card-img-top {
	height: 12em;
	object-fit: cover;
}

.card-body {
	background-color: #b06137;
}

.card-body a {
	font-size: 34px;
	color: #efefef;
	text-decoration: none;
}

.card-body a:hover {
	color: #0056b3;
}

.project-header {
	font-size: 18px;
}

/* -------------------------------- Connect --------------------------------  */

.contact-text {
	color: #efefef;
	margin-top: 75px;
}

.contact-text h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.contact-text p {
	margin: 45px;
	letter-spacing: 2px;
}

.contact-form {
	background-color: transparent;
}

.contact-form input {
	background-color: transparent;
	color: #efefef;
}

.contact-form textarea {
	background-color: transparent;
}

.contact-button {
	font-size: 24px;
}

.form-space {
	margin-bottom: 35px;
}


/* ------------------------ Body + Background Image -------------------------  */

body {
	min-height: 100vh;
	background-size: cover;
	background-blend-mode: multiply;
	color: #efefef;
	display: flex;
	flex-direction: column;
}

#main-page {
	background: url("../imgs/home.jpeg") rgba(34, 35, 36, 0.9);
}

#about-page {
	background: url("../imgs/about.jpeg") rgba(34, 35, 36, 0.9);
}

#progress-page {
	background: url("../imgs/progress.jpeg") rgba(34, 35, 36, 0.9);
}

#project-page {
	background: url("../imgs/project.jpeg") rgba(34, 35, 36, 0.9);
}

#connect-page {
	background: url("../imgs/connect.jpeg") rgba(34, 35, 36, 0.9);
}


/* -------------------------------- General ---------------------------------  */

.uppercase {
	text-transform: uppercase;
}

body {
	margin-bottom: 75px;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Fjalla One", sans-serif;
}