@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* ------------------ Navigation Bar -------------------------  */ 

.custom-nav {
    background: rgba(34, 35, 36, 0.7);
}

#main-btn {
    font-family: "Anton", sans-serif;
    color: #efefef;
    letter-spacing: 2px;
    font-size: 28px;
}

.nav-btns li a {
    color: #efefef;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 2px;
}

/* ------------------ Body + Background Image -------------------------  */ 

body {
    min-height: 100vh;
    background-size:cover;
    background-blend-mode: multiply;
    color: #efefef;
    display: flex;
    flex-direction: column;
}

#main-page {
    background: url("../imgs/coding.jpeg") rgba(34, 35, 36, 0.7);
}

#about-page {
    background: url("../imgs/domore.jpeg") rgba(34, 35, 36, 0.8); 
}


/* -------------------------- Footer (pdf styling comes from the loverunnings project)-------------------------  */ 

footer {
    position: fixed;
    bottom: 1px;
    color: #efefef;
    background: rgba(34, 35, 36, 0.7);
    width: 100%;
    height: fit-content;
}

.copyright {
    text-align: right;
    padding-top: 35px;
}

.contact {
    padding-top: 15px;
}
.contact i {
    color: #efefef;
    font-size: 22px;
}

/* -------------------------- General -------------------------  */ 

.uppercase {
    text-transform: uppercase;
}